* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.Calculator_container {
  width: 100%;
  height: 100vh;
  background-image: url("images/sky_blue.jpg");
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.calculator_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.calculator_content {
  width: 100%;
  max-width: 500px;
  height: 100%;u
  max-height: 700px;
  padding: 20px;
}

.calculator_input {
  padding-block: 25px;
}

#calculatorInput{
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #424242, #212121);
  color: #FFFFFF;
  font-size: 60px;
  text-align: right;
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
  transition: 
    font-size 0.25s ease-in-out,
    padding 0.25s ease-in-out;
}

.calculator_button {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

 button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: transform 0.1s, background 0.2s;
}

.calculator_button button:active {
  transform: scale(0.9);
  opacity: 0.9;
}

.clearDisplay {
  background-color: #F44336;
}

.operator {
   background: linear-gradient(to bottom, #FF9800, #F57C00);
}

.number {
  background: linear-gradient(to bottom, #4CAF50, #388E3C);
}

.equal {
  background-color: #E91E63;
  grid-column: span 2;       
}

.deleteLast {
  background-color: #F44336;
}
